@font-face {
    font-family: "Barlow";
    src: url(fonts/Barlow-Thin.otf);
}

body {
    font-family: "Barlow";
    margin: 0;
    padding: 0;
    color: #2A4A5C;
}

.main {
    width: 1200px;
    height: 80vh;
    margin: auto;
    margin-top: 60px;

    box-shadow: 0px 0px 110px 0px #96A5B1;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
}

.main__bg, .main__content {
    width: 50%;
    height: 100%;
}

.main__bg__image {
    width: 100%;
    height: 100%;

    background-image: url(img/bg.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.main__bg__logo {
    width: 100px;
    height: 30px;

    margin-top: 30px;
    margin-left: 30px;
}

.main__content {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: flex-start;
    justify-content: flex-start;
}

.main__content__wrapper,
.main__content__social,
.main__content__form {
    margin-left: 10%;
}

.main__content__wrapper__heading {
    margin-top: 80px;
    font-weight: 800;
}

.main__content__wrapper__paragraph {
    height: 1.5em;
}

.main__content__social {
    margin-top: 20px;
}

.main__content__social__button {
    width: 230px;
    height: 40px;
    border: none;
    color: #ffffff;
}

.main__content__social__button--facebook {
    margin-right: 30px;
    background-color: #255A9B;
    background-image: url(img/facebook.svg);
    background-repeat: no-repeat;
    background-size: 9%;
    background-position: 10px 10px;
}

.main__content__social__button--linkedin {
    background-color: #0076B6;
    background-image: url(img/linkedin.svg);
    background-repeat: no-repeat;
    background-size: 9%;
    background-position: 10px 10px;
}

.main__content__form {
    margin-top: 20px;
}

.main__content__form__substrate {
    margin-left: 44%;
    position: relative;
}

.main__content__form__substrate::after {
    content: "";
    position: absolute;
    top: 10px;
    right: 25px;
    width: 100px;
    height: 1px;
    background-color: #7B8A92;
}

.main__content__form__substrate::before {
    content: "";
    position: absolute;
    top: 10px;
    left: 25px;
    width: 100px;
    height: 1px;
    background-color: #7B8A92;
}

.main__content__form__textField,
.main__content__form__radioField,
.main__content__form__checkboxField,
.main__content__form__btnField {
    border: none;
    padding: 0;
}

.main__content__form__textField {
    margin-top: 20px;
    display: flex;
}

.main__content__form__textField__wrapper {
    width: 40%;
    position: relative;
}

.main__content__form__textField__wrapper:first-child {
    margin-right: 10%;
}

.main__content__form__textField__field {
    border: none;
    width: 100%;
    height: 50px;
    background-color: transparent;
    font-size: 16px;
}

.main__content__form__textField__field--email {
    border-left: 2px solid #3698FB;
}

.main__content__form__textField__label {
    position: absolute;
    top: -2px;
    left: 5px;
}

.main__content__form__question {
    margin-top: 20px;
}

.main__content__form__question__heading {
    font-weight: 800;
}

.main__content__form__question__paragraph {
    margin-top: 20px;
    height: 1.5em;
}

.main__content__form__radioField {
    margin-top: 20px;
}

.main__content__form__radioField__label {
    margin-right: 30px;
}

.main__content__form__radioField__btn {
    position: absolute;
    z-index: -1;
    opacity: 0;
}

.main__content__form__radioField__btn+label {
    display: inline-flex;
    align-items: center;
    user-select: none;
}

.main__content__form__radioField__btn+label::before {
    content: '';
    display: inline-block;
    width: 1em;
    height: 1em;
    flex-shrink: 0;
    flex-grow: 0;
    border: 1px solid #adb5bd;
    border-radius: 50%;
    margin-right: 0.5em;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 50% 50%;
}

.main__content__form__radioField__btn:not(:disabled):not(:checked)+label:hover::before {
    border-color: #b3d7ff;
}

.main__content__form__radioField__btn:not(:disabled):active+label::before {
    background-color: #b3d7ff;
    border-color: #b3d7ff;
}

.main__content__form__radioField__btn:focus+label::before {
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.main__content__form__radioField__btn:focus:not(:checked)+label::before {
    border-color: #80bdff;
}   

.main__content__form__radioField__btn:checked+label::before {
    border-color: #0b76ef;
    background-color: #0b76ef;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%23fff'/%3e%3c/svg%3e");
}

.main__content__form__confirmation {
    width: 40%;
    font-size: 12px;
    margin-top: 30px;
    margin-left: 20px;
}

.main__content__form__checkboxField {
    margin-top: 40px;
}

.main__content__form__checkboxField__label {
    font-size: 12px;
}

.main__content__form__checkboxField__label a {
    color: #3698FB;
}

.main__content__form__btnField {
    margin-top: 40px;
}

.main__content__form__btnField__field {
    width: 200px;
    height: 40px;
    background-color: #3698FB;
    color: #ffffff;
    border: none;
    border-radius: 5px;
}